<%= link_to "Home", root_path %>

<h1><%= @restaurant.name %> <small><%= @restaurant.address %></small></h1>
<img src="https://media-cdn.tripadvisor.com/media/photo-o/08/65/fa/c6/photo0jpg.jpg" alt="">

<div id="reviews">
  <% if @restaurant.reviews.blank? %>
    <h2>
      Be the first to leave a review for <%= @restaurant.name %>
    </h2>
  <% else %>
    <h2>
      <%= pluralize @restaurant.reviews.size, "review" %> for <%= @restaurant.name %>
    </h2>
    <% @restaurant.reviews.each do |review| %>
      <p class='bg-white'><%= review.content %></p>
    <% end %>
  <% end %>
</div>

<%= simple_form_for([ @restaurant, @review ], url: (restaurant_reviews_path(@restaurant, anchor: 'reviews'))) do |f| %>
  <%= f.input :content, as: :text %>
  <%= f.button :submit %>
<% end %>
